
/* Your CSS Code here. */        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: center;
        }

        .black-bg {
            background-color: black;
            color: white;
        }